<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/forbiden.css">
    <link rel="stylesheet" th:href="@{/css/forbiden.css}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
    <title>Permission Denied</title>
</head>

<body>
    <nav class="app__navbar">

        <div class="app__navbar-logo app__navbar-mobile">
            <!-- Link to the index with logo within -->
            <a href="#" th:href="@{/}" class="app__logo-link">
                <img class="" src="../static/images/springlogo.png" th:src="@{/images/springlogo.png}" alt="menu" />
            </a>
        </div>

        <div class="app__navbar-title app__navbar-mobile">
            <a href="#" th:href="@{/}" class="app__logo-link">
                <h1 class="app__title">Java Enterprise</h1>
            </a>
        </div>

        <div class="app__navbar-logo app__navbar-desktop">
            <!-- Link to the index with logo within -->
            <a href="#" th:href="@{/}" class="app__logo-link">
                <img class="" src="../static/images/springlogo.png" th:src="@{/images/springlogo.png}" alt="menu" />
            </a>
            <a href="#" th:href="@{/}" class="app__logo-link">
                <h1 class="app__title">Java Enterprise</h1>
            </a>

            <ul class="app__navbar-links app__navbar-desktop" id="app__navbar-desktop-links">
                <!-- Links once the user is authenticated -->
            </ul>
        </div>

        <ul sec:authorize="!isAuthenticated()" class="app__navbar-right">

            <li class="app__navbar-desktop">
                <button class="app__button app__button--stripe app__button--primary" type="button"
                    onclick="window.location.href = '/secure';">Log In</button>
            </li>

            <li class="app__navbar-desktop">
                <button class="app__button app__button--stripe app__button--secondary" type="button"
                    onclick="window.location.href = '/signup';">Sign Up</button>
            </li>


            <li id="app__navbar-menu-btn" class="app__navbar-mobile">
                <i class="material-symbols-outlined" onclick="toggleMenu(true)">
                    menu
                </i>
            </li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="app__navbar-right">
            <li class="app__navbar-desktop"><span sec:authentication="name"></span></li>
            <li class="app__navbar-desktop">
                <a href="#" th:href="@{/logout}">
                    <i class="material-symbols-outlined">
                        logout
                    </i>
                </a>
            </li>
            <li id="app__navbar-menu-btn" class="app__navbar-mobile">
                <i class="material-symbols-outlined" onclick="toggleMenu(true)">
                    menu
                </i>
            </li>
        </ul>
    </nav>

    <div class="app__navbar-menu app__navbar-mobile" id="app__navbar-menu">
        <!-- Here appears the mobile menu-->
    </div>


    <main class="app__main--container">
        <div class="app__message">
            <h1>Forbiden</h1>
            <p>You are forbiden to view this page.</p>

            <button class="app__button app__button--danger app__button--stripe"
                onclick="window.location.href = '/';">Back to Index</button>
        </div>

        <figure>
            <img src="../static/images/forbiden.png" th:src="@{/images/forbiden.png}" alt="401" />
        </figure>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FF725E" fill-opacity="1"
                d="M0,0L34.3,53.3C68.6,107,137,213,206,245.3C274.3,277,343,235,411,224C480,213,549,235,617,234.7C685.7,235,754,213,823,224C891.4,235,960,277,1029,272C1097.1,267,1166,213,1234,202.7C1302.9,192,1371,224,1406,240L1440,256L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
            </path>
        </svg>

    </main>
    <!-- Javascript with thymeleaf -->
    <script type="text/javascript">
        let isAuthenticated = false;
        const pageType = "permission-denied";
    </script>
    <script type="text/javascript" sec:authorize="isAuthenticated()">
        isAuthenticated = true;
    </script>
    <script src="../static/js/navbar.js" th:src="@{/js/navbar.js}"></script>


</body>

</html>