.app__main--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}

.app__main--container figure img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.app__message {
    position: relative;
    z-index: 2;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.app__main--container h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--strong-yellow);
    margin: 0;
    padding: 0;
}

.app__main--container p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.01rem;
}

/* Adding style to the last child p of app__message */
.app__message p:last-of-type{
    color: var(--strong-yellow);
}

a {
    text-decoration: none;
}